*.bgn
*~
*.bit
*.bld
*.cmd_log
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.ut
*.xpi
*.xmsgs
*.unroutes
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.log
_ngo/*
xst/*
xlnx_auto*xdb/
*.cmd
isim/*
*.exe
*.wdb
*.ini

#ignore swap
*.swp

_xmsgs/*

*.gise
*.xise
*.xreport
